
a:active {color: white}
a:visited { color: white}
a:hover {
    color: white;
    text-decoration: none;
}

.btn-circle {
	width: 150px;
	height: 70px;
	text-align: center;
	padding: 0px 0;
	font-size: 15px;
	font-style: oblique;
	line-height: 1;
	border-radius: 40px;
	background-color:#5F9EA0;
	color: beige;
	
  }
  .btn-circle:hover{background-color: rgb(47, 100, 102); cursor: pointer}
